

<a style="
    text-align:center;
    margin:auto;
    display:block;
    background-color:blue;
    color:white;
    width:180px;
    padding:10px;
    border-radius:5px;
    text-decoration: none;"
    href="<%= rootUrl %>/activate/<%= token %>">Активировать аккаунт</a>
